<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="post" action="#">
      <div class="countainer">
        <div class="content-fields">
          <div class="field1">
            <input class="input-field1" type="number" required placeholder="فیلد1 را وراد کنید (عدد,اجباری)"/>
          </div>
          <div class="field2">
            <input class="input-field2" type="text" placeholder="فیلد2 را وراد کنید (حرف فارسی /انگلیسی,اختیاری)" />
          </div>
          <div class="field3">
            <input class="input-field3" type="text" placeholder="فیلد3 را وراد کنید (حرف فارسی /انگلیسی,اختیاری)"/>
          </div>
          <div class="field4">
            <input class="input-field4" type="number" placeholder="فیلد4 را وراد کنید (عدد,اختیاری)"/>
          </div>
          <div class="save-info">
            <input class="btn-save-info" type="submit" value="نوشتن اطلاعات فوق در دیتابیس ">
          </div>
        </div>
        <div class="content-new-tab">
          <div class="new-tab">باز شدن تب جدید</div>
        </div>
      </div>
    </form>
  </body>
</html>
